main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}

.product-screen .no-padding-top {
	padding-top: 0px;
}

.product-screen .padding-bottom-3 {
	padding-bottom: 30px;
}
